/*! Ordenar todo */

/* Crear listas de colores agrupados
color1: #F1F6F9;
color2: #212A3E;
color3: #394867;
color4: #9BA4B5;
*/

*:disabled {
    background-color: rgba(128, 128, 128, 0.577);
}

body {
    margin: 0.5rem;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212a3e;
    color: #f1f6f9;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    flex-direction: column;
}
.header__h1 {
    font-size: 2rem;
    font-weight: 700;
}
.main {
}

/*! Agregar @media para los dispositivos con pantalla chica (Tamaño de Home > Pantalla dispositivo) */
.main__div--userInput {
    height: 90vh;
}
.main__h2,
.main__h2--userResult {
    text-align: center;
    margin: 1rem 0;
    padding: 0.5rem 0;
    background-color: #394867;
    font-size: 1.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.main__form {
    display: flex;
    align-items: center;
    background-color: #394867;
    flex-direction: column;
}
.main__div--form {
    margin: 1rem 0;
}
.main__select,
.main__select--userConvert {
    text-align: center;
    background-color: #38538a;
    padding: 0.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.main__label {
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 1rem;
}
.main__input, .main__input--currencyAmount {
    padding: 20px;
    background-color: #38538a;
}
.main__div--btn {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}
.main__btn--submit,
.main__btn--reset {
    background-color: #394867;
    color: #f1f6f9;
    border-radius: 1rem;
    padding: 10px 20px;
    border: none;
}

.main__div--totales {
    background-color: #394867;
    color: #f1f6f9;
    padding: 0.5rem;
    margin-top: 1rem;
    text-align: center;
}
.main__h3--totales {
    background-color: #212a3e;
    text-align: center;
    margin: 0.5rem 0;
}
.main__p--totales {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}
.main__div--userResult {
    height: 100%;
}
.main__h2--userResult {
}
.main__div--userTextUi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: #394867;
}
.main__div--userTextUi div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem;
    width: 45%;
}
.main__h3--months {
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
    background-color: #212a3e;
}
.main__p--months {
    text-align: center;
}
.main__p--monthsTotal {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.main__button--resetBtn {
    color: #f1f6f9;
    background-color: #212a3e;
    opacity: 0.8;
    border-radius: 1rem;
    padding: 5px 10px;
    margin: 0.5rem;
    border: none;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.main__section--userConvert{
    padding-top: 2rem;
}
.main__div--userConvert{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: #394867;
}
.main__input--currencyAmount{
    margin: 1rem;
}
.main__select--userConvert{
    width: 50%;
    margin: .5rem;
    text-align: center;
}
.main__select--userConvertSelect{}
.main__p--userConvert{}
.main__button--userConvert{
    width: 100%;
    background-color: #394867;
    text-align: center;
    color: #f1f6f9;
    margin: .5rem 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.footer{
    margin-top: 2rem;
    width: 100%;
}
.footer__ul{
    display: flex;
    justify-content: space-around;
    margin: 0 1rem;
}
.footer__li{}
.footer__a--social{}
.footer__small--cr{
    display: flex;
    justify-content: center;
}



/* Sombra */
.main__btn--reset,
.main__btn--submit,
.main__form,
.main__label,
.main__input,
.main__select,
.main__div--totales,
.main__h3--totales,
.main__h3--months,
.main__div--userTextUi div,
.main__button--resetBtn, 
.main__input--currencyAmount,
.main__select--userConvert,
.main__button--userConvert {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Hover btn */
.main__btn--submit:hover,
.main__btn--reset:hover,
.main__button--resetBtn:hover,
.main__button--userConvert:hover {
    opacity: 0.2;
    background-color: darkblue;
}
