/*! Ordenar todo */

*:disabled {
    background-color: rgba(128, 128, 128, 0.577);
}

#months,
button,
label,
.userTextUi div h4,
.userBank {
    border-radius: 1rem 0;
    -webkit-border-radius: 1rem 0;
    -moz-border-radius: 1rem 0;
    -ms-border-radius: 1rem 0;
    -o-border-radius: 1rem 0;
    padding: 0.2rem;
}

.resetBtn,
.userTextUi div button {
    background: rgba(255, 75, 75);
}

body {
    display: grid;
    margin: 0 10%;
    text-align: center;
    background-color: #b1afff;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    background-color: #b8e8fc;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}


h2 {
    margin: 1rem 0;
}

.forms {
    display: grid;
    margin-top: 2rem;
    margin: 0 15%;
}

.form1 {
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
}

#months {
    margin: 0 15%;
    text-align: center;
    background-color: rgba(100, 100, 250, 0.2);
}

label {
    background-color: aquamarine;
    margin-top: 1rem;

}

input {
    padding: 1rem;
    text-align: center;
    background-color: #fdfdbd;
    border-radius: 0 1rem 0 0;
    transition-duration: 0.5s;
    -webkit-border-radius: 0 1rem 0 0;
    -moz-border-radius: 0 1rem 0 0;
    -ms-border-radius: 0 1rem 0 0;
    -o-border-radius: 0 1rem 0 0;
}

button {
    margin: 0.5rem;
    transition-duration: 0.5s;
}

button:hover {
    opacity: 60%;
}

#submitBtn {
    background-color: rgb(173, 255, 47);
}

#submitBtn:disabled {
    background-color: rgba(128, 128, 128, 0.577);
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.error {
    background-color: rgba(255, 0, 0, 0.6);
}

.success {
    background-color: rgb(14, 221, 14);
}

/* ! userResult */

.userResult {
}

.userTextUi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem;
    padding-top: 0.5rem;
    background-color: #ffb9b9;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.userTextUi div {
    background-color: #ffacc7;
}
.userTextUi div h4 {
    background-color: #ff8dc7;
}

.userTextUi div p {
}

.userTextUi div button {
    margin: 5% auto;
}

.userBank{
    gap: 1rem;
    margin: 1rem;
    padding-top: 0.5rem;
    border-radius: 1rem;
    background-color: #ffb9b9;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.userBank h3 {


}

.userBank p {
    background-color: #ffacc7;
}


@media (max-width: 992px) {
    main {
        grid-template-columns: auto;
    }
    .form1 {
        display: block;
    }
    #months {
        align-items: center;
        margin: auto;
    }
}

@media (max-width: 768px) {
    body {
        margin: 0 5%;
    }

    /*! .userResult div p {} */
}
