/*! Ordenar todo */
*:disabled {
    background-color: gray;
}
body {
    display: grid;
    text-align: center;
    margin: 0 10% 0 10%;
    background-color: #B1AFFF;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #B8E8FC;
}

.forms{
    display: grid;
    margin-top: 2rem;
}

.form1 {
    display: flex;
    margin: 0 15% 1rem;
}


#months {
    margin: 0 15%;
    text-align: center;
    border: 1px black solid;
}

label {
    margin: 0 15%;
    background-color: aquamarine;
}

input {
    margin: 0 15%;
    padding: 1rem;
    text-align: center;
    background-color: #FDFDBD;
}

button {
    border: 2px solid black;
}

.buttons {
    display: flex;

    justify-content: space-around;
}

.error {
    background-color: rgba(255, 0, 0, 0.6);
}

.userTextUi {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    border: black solid 2px;
    background-color: aliceblue;
}

